*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

body{
  background-color: #10121A;
}

.App{
  max-width: 80%;
  margin: 0 auto;
  min-height: 100vh;
}

.App h1{
  text-align: center;
  font-weight: 800;
  color: white;
  font-size: 4rem;
  padding: 1rem 0;
}
.g-btn{
  text-align: center;
  margin: 1rem 0;
}

.g-btn button{
  border: 2px solid white;
  padding: .7rem 2rem;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-family: inherit;
  font-size: 1.2rem;
  background: transparent;
  color: white;
  transition: all .4s ease-in-out;
  text-transform: uppercase;
}

.g-btn button:hover{
  background-color: #EE8E4D;
  transition: all .4s ease-in-out;
  border: 2px solid #EE8E4D;
  color: #fff;
}